@model MvcLab.Models.AppUser

<h2>Створити користувача</h2>

<form method="post">
    <div>
        <label>Ім'я:</label>
        <input name="Name" />
    </div>
    <div>
        <label>Email:</label>
        <input name="Email" />
    </div>
    <button type="submit">Створити</button>
</form>