@model MvcLab.Models.Product

<h2>Створити продукт</h2>

<form method="post">
    <div>
        <label>Назва:</label>
        <input name="Name" />
    </div>
    <div>
        <label>Ціна:</label>
        <input name="Price" />
    </div>
    <button type="submit">Зберегти</button>
</form>