@model ProductApp.Models.Product
<h2>Did you really want to delete this product</h2>

<p>
    @Model.Name - @Model.Price grh.
</p>

<form method="post" asp-action="DeleteConfirm" asp-route-id="@Model.Id">
    <button type="submit">Delete</button>
</form>