
@{
    ViewData["Title"] = "Home Page";
}

<h1>Main page</h1>

<ul>
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-controller="User" asp-action="Create">User</a></li>
    <li><a asp-controller="Product" asp-action="List">Product List</a></li>
    <li><a asp-controller="Order" asp-action="PlaceOrder">Order</a></li>
</ul>
