@{
    ViewData["Title"] = "Доступ Заборонено";
}

<h1 class="text-danger">Помилка: Доступ Заборонено (403)</h1>
<h2 class="text-danger">У вас немає необхідних прав доступу до цієї сторінки.</h2>
<hr />
<p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Повернутися на головну</a>
</p>