@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<hr />

<h2>Навігація сайту</h2>
<ul>
    <li><a href="/Product/List">Продукти</a></li>
    <li><a href="/User/Create">Створити користувача</a></li>
    <li><a href="/Order/PlaceOrder">Нове замовлення</a></li>
    <li><a href="/Admin">Адмін-панель</a></li>
</ul>
