@model TaskManager.Models.Category

@{
    ViewData["Title"] = "Створення категорії";
}

<h2>Створити категорію</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success mt-2">Зберегти</button>
</form>
