@{
    ViewData["Title"] = "Адмін-панель";
}

<h2>Адмін-панель</h2>
<p>Адміністративний функціонал</p>

<ul>
    <li><a href="/Product/List">Управління продуктами</a></li>
    <li><a href="/User/List">Список користувачів</a></li>
    <li><a href="/Order/List">Перегляд замовлень</a></li>
</ul>
