@model List<MvcApp.Models.User>

<h2>Список користувачів</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ім'я</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var u in Model)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.Name</td>
                <td>
                    <a class="btn btn-danger btn-sm" href="/Admin/DeleteUser?id=@u.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
