@model MvcApp.Models.Order

<h2>Нове замовлення</h2>

<form method="post">
    <label>Назва продукту:</label>
    <input name="ProductName"/>
    <label>Кількість:</label>
    <input name="Quantity"/>

    <button type="submit">Створити замовлення</button>
</form>
